# Eclipse
.settings/
.classpath
.project
/bin

# Gradle
.gradle/
**/build/

# IntelliJ IDEA
.idea/
*.iml

# Node
node_modules/

# Other files
docs/
/src/main/resources/sidebar-sdk-java-version.properties
